Body{
Margin:0px;
Background-color:blue;
}


Header{
Font-family:"YuGothic";
Background-color:#000;
Color:white;
Padding-top:5px;
Margin-bottom:40px;
}
.header-title{
Font-size:10px;
Margin:0px;
}
.header-sub{
Font-size:4px;
Margin:0px;
Padding-bottom:5px;
}

.chuukan{
Color:white;
Font-family:"Hiragino Kaku Gothic StdN";
Font-size:20px;
Margin:0px 0px 50px 20px;
}


.pom1{
margin:0 auto;
}
.sec1{
Margin:0px 300px;
Padding-bottom:10px;
Border:solid 0px #fff;
border-radius:10px;
Background-color:#fff;
}
.ar1{
Font-family:"YuGothic";
Padding-left:20px;
}
H4{
Padding-top:20px;
}
Ul{
list-style:none;
}
Li{
Font-size:15px;
Color:#bbb;
Padding-bottom:10px;
}



.sec2{
Margin:70px 300px 150px;
Padding:10px 5px;
Border:solid 0px #fff;
border-radius:10px;
Background-color:#fff;
Font-family:"arial unicode ms"
}
H2{
Font-size:20px;
Margin:20px 20px 0px;
}
P{
Font-size:15px;
Margin-left:10px;
Color:silver;
}



.nav{
Margin:70px;
}

.moji{
Color:white;
Font-family:"Hiragino Kaku Gothic StdN";
}


Footer{
Background-color:black;
Color:white;
Font-family:"Hiragino Kaku Gothic StdN";
Font-size:100px;
Margin:0px;
}
